<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Booking Events</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(events)}">
        <h2>Event List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Event Id</th>
<!--                 <th>Description</th>
                <th>Event Date</th>
 -->                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="event : ${events}">
                <td th:text="${event.id}"><a href="/event/${event.id}">Id</a></td>
                <td th:text="${event.eventId}">Product Id</td>
<!--                 <td th:text="${event.start_time}">start</td>
                <td th:text="${event.end_time}">end</td>
 -->                <td><a th:href="${ '/event/' + product.id}">View</a></td>
                <td><a th:href="${'/event/edit/' + product.id}">Edit</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>