<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Resource Renting</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Event Details</h2>
        <div>
            <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Event Id:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${event.eventId}"/>
                </div>
            </div>

<!--             <div class="form-group">
                <label class="col-sm-2 control-label">Calendar Id:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${event.calendarId}"/>
                </div>
            </div> -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Title:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${event.title}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Event Date Time:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${event.eventDateTime}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Event Location:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${event.location}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Event Attendees:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${event.attendeeList}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${event.detailDescription}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Reminder Time:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${event.reminderTime}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${event.hasReminderSent}"/>
                </div>
            </div>
                
          </form>
    </div>
</div>

</body>
</html>